:root {
  --main-blue-color: #2bd0d0;
  --main-title-color: #34313d;
  --main-text-color: #9e9aa8;
  --main-bg-color: #fff;
  --main-font-weight: 400;
  --main-font-bold: 700;
  --main-font-size: 15px;
}