@use "../mixins" as *;

.site-header {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 23px;
}

.site-header__wrapper {
  @include flexbox
}

.logo {
  width: 120px;
  height: 33px;
}

.nav-menu {
  display: none;
}

.site-header__menu-btn {
  width: 24px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../images/mobilemenu.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.unscrollbody {
  overflow: hidden;
}

.open-menu .site-header__menu-btn {
  background-image: url("../images/menuclose.svg");
}

.open-menu .nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-menu {
  position: absolute;
  top: 86px;
  left: 0;
  z-index: 5;
  width: 100vw;
  padding: 40px 24px;
  border-radius: 10px;
  background-color: #3a3054;
}

.nav-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  @include list-unstyled;
  text-align: center;
}
.nav-menu__list::after {
  width: 100%;
  height: 1px;
  margin-bottom: 32px;
  background-color: var(--main-text-color);
  opacity: 0.25;
  content: "";
}

.nav-menu__link {
  font-size: 18px;
  font-weight: var(--main-font-bold);
  line-height: 27px;
  @include link-unstyled(#fff)
}

.nav-menu__link:hover {
  color: var(--main-title-color);
}

.site-header__logen-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  @include list-unstyled;
  text-align: center;
}

.site-header__logen-link {
  font-size: 18px;
  font-weight: var(--main-font-bold);
  line-height: 27px;
  @include link-unstyled(#fff)
}

.site-header__logen-link:hover {
  color: var(--main-title-color);
}

.site-header__sing-up {
  padding-top: 12px;
  padding-bottom: 9px;
  border-radius: 28px;
  background-color: #2bd0d0;
}

.site-header__sing-up:hover {
  opacity: 0.6;
}

.site-header__sing-up-link {
  font-size: 18px;
  font-weight: var(--main-font-bold);
  line-height: 27px;
  @include link-unstyled(#fff)
}

.logen-wrapper {
  display: flex;
}

@media only screen and (min-width: 375px) {
  .site-header {
    padding-top: 40px;
  }

  .nav-menu {
    top: 96px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 0 30px;
  }

  .logo {
    margin-right: 20px;
  }

  .site-header__menu-btn {
    display: none;
  }

  .site-header__nav {
    position: static;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .nav-menu__list {
    flex-direction: row;
    column-gap: 20px;
    margin-top: 0;
  }

  .nav-menu__list::after {
    display: none;
  }

  .open-menu .nav-menu {
    flex-direction: row;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .site-header__logen-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .site-header__logen-link {
    margin-right: 15px;
    font-size: 15px;
    line-height: 23px;
    color: var(--main-text-color);
  }

  .site-header__sing-up {
    padding: 5px 10px;
  }

  .site-header__sing-up-link {
    font-size: 15px;
    line-height: 23px;
  }

  .nav-menu__link {
    font-size: 15px;
    font-weight: var(--main-font-bold);
    line-height: 23px;
    color: var(--main-text-color);
  }
}

@media only screen and (min-width: 700px) {
  .container {
    padding: 0 40px;
  }

  .logo {
    margin-right: 45.43px;
  }

  .nav-menu__list {
    column-gap: 29px;
  }

  .nav-menu__item:nth-child(2) {
    margin-right: 3px;
  }

  .site-header__logen-link {
    margin-right: 30px;
  }

  .site-header__sing-up {
    padding: 9px 23px 8px 24px;
  }
}

@media only screen and (min-width: 850px) {
  .container {
    padding: 0 20px;
  }

  .site-header__logen-link {
    margin-right: 37px;
  }
}